*{
    margin:0px;
    padding:0px;
}
*{
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;0,900;1,400&family=Open+Sans:wght@700;800&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
}
*{
    font-family: 'Work Sans', sans-serif;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo{
    display: flex;
    gap:40px;
    align-items: center;
}
.logo{
    width:40px;
    height:40px;
}
.gamer{
   color:rgb(252, 67, 175)
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
}
.nav-menu-items{
    display: flex;
    align-items: center;
    gap:20px;
    color: #3C354F;
    font-size:18px;
    font-weight: 500;
}
.nav-menu-items ul{
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    gap:10px;
}
.nav-menu-items li {
    list-style: none;
}
.nav-menu-items a{
    text-decoration: none;
}
.icone{
    width:50px;
}
.banner-container{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
.banner-text{
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position:center;
    width:901px;
    height:700px;
    padding-left: 240px;
    padding-top: 140px;
}
.banner-img img{
    background-color: #FFF;
    padding-right: 240px;
}
.primary-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}
.primary-title2{
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fc0dd4;
}
.primary-description{
    font-size: 20px;
    font-weight: 500;
    color: #534C64;;
}
.primary-btn{
    color:#FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: 0;
}
.banner-btn{
    color:#fff;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
    margin-left: 15px;
}
.services-container{
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    width: 2020px;
    height: 600px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.services-text{
    text-align-last: right;
    text-align: justify;
    padding-right: 240px;  
}
.services-text,.services-title,.primary-description,.primary-btn{
    padding-top:30px;
    padding-bottom: 30px;
}
.services-img{
    padding-left: 240px;
}
.services-title{
    font-size: 48px;
    font-weight: 700;
    color:#8758F1;
}
.online-games{
    text-align: center;
}
.online-games-text{
    padding-top: 200px;
}
.title-color{
    color:#fc0dd4;
}
.card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 240px;
    padding-right: 240px;
    padding-bottom: 240px;
}
.card-items p{
    padding: 20px;
}
.hots-container{
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 240px;
}
.hots-text{
    text-align-last: right;
    padding-right: 240px;
    padding-bottom: 280px;
}
.hots-title{
    color:#fc0dd4;
}
.fason{
    position: relative;
    bottom: 300px;
    right: 150px;
}
.games-information{
    padding: 150px;
    background-color: rgb(245, 221, 221);
}
.games-5item{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
}
.games-4item,.h4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:10px;
    padding-left: 160px;
    padding-right: 160px;
}
.games-item{
    display: flex;
    align-items: center;
    gap:15px;
    width: 180px;
    background-color: #FFF;
    border-radius: 50px;
}
.games-item:hover{
    border: 2px solid rgb(100, 95, 95);
    border-radius: 50px;
    background-color: antiquewhite;
}
.games-item3{
    display: flex;
    align-items: center;
    width: 200px;
    height: 80px;
    border: 2px solid rgb(100, 95, 95);
    border-radius: 50px;
    background: #FFF;
    background-color: antiquewhite;
}
.footer{
    align-items: center;
    padding:120px;
    gap:10px;
    justify-content: center;
    background:rgb(100, 95, 95)
}
.footer-title{
    display: flex;
    color:#FFF;
    font-size: 45px;
    font-weight: 700;
    justify-content: center;
    gap:15px;
}
.footer-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    gap:60px;
    padding: 60px;
}
.icone-footer{
    width: 60px;
}
.footer-icone{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.footer-menu2{
    display: flex;
    justify-content: center;
    padding:30px;
    gap:60px;
    font-size:16px;
    font-weight: 500;
    color:#ddbebe
}
.footer-description{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color:hsl(0, 65%, 97%)
}